// Actions
.actions {
  padding: var(--spacer--700) var(--spacer--400) 0;
  text-align: center;
}
.actions__title {
  @include rfs($font-size-18);
  margin-bottom: var(--spacer--400);
  font-weight: 700;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--spacer--200);
}
.actions__description {
  @include rfs($font-size-14);
  margin-bottom: var(--spacer--400);
  font-weight: 600;
}
