// Actions
.actions {
  padding: var(--spacer);
  @media screen and (min-width: 640px) {
    padding: var(--spacer-lg);
  }
  @media screen and (min-width: 1280px) {
    padding-left: var(--spacer-xl);
    padding-right: var(--spacer-xl);
  }
}
.actions__title {
  @include rfs($font-size-14);
  margin-bottom: calc(var(--spacer) * 0.75);
  font-weight: bold;
  line-height: 1.35714;
  @media screen and (min-width: 640px) {
    margin-bottom: var(--spacer);
  }
}
.actions__description {
  @include rfs($font-size-14);
  margin-bottom: calc(var(--spacer) * 0.75);
  @media screen and (min-width: 640px) {
    margin-bottom: var(--spacer);
  }
}
