// Buttons
.btn {
  @include rfs($font-size-12);
  display: inline-block;
  padding: .9rem var(--spacer);
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: var(--transition-base);
  border-radius: var(--border-radius);
  border: none;
  .v-spinner {
    margin-left: var(--spacer);
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    pointer-events: none;
    opacity: .75;
  }
}
.btn--large {
  @include rfs($font-size-14);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}
.btn--primary {
  background: var(--color-brand-darkest);
  color: var(--color-background);
  &:hover {
    background: var(--color-brand-darker);
  }
}
.btn--light {
  background-color: var(--color-brand-light);
  &:hover {
    background-color: var(--color-brand-lighter);
  }
}
.btn--ghost {
  background: transparent;
  border: 1px solid var(--color-background);
  color: var(--color-background);
}
.btn--ghost-neutral {
  background: transparent;
  border: 1px solid var(--color-neutral-lighter);
  color: var(--color-neutral-lighter);
}
.btn--block {
  display: block;
  width: 100%;
  // margin: calc( var(--spacer-sm) ) auto;
}
.btn--hidden {
  opacity: 0;
  visibility: hidden;
}
.btn--loading {
  text-indent: -1rem;
  .v-spinner {
    position: absolute;
    display: inline-block !important;
    margin-top: .15rem;
    animation: buttonSpinnerShow .35s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
}
.btn--as-link {
  @include rfs($font-size-14);
  text-decoration: underline;
  background: transparent;
  border: none;
}