// Buttons
.btn {
  @include rfs($font-size--400);
  display: inline-block;
  padding: var(--spacer--300) var(--spacer--400);
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: var(--transition-base);
  border-radius: var(--border-radius);
  border: none;
  .v-spinner {
    margin-left: var(--spacer);
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    pointer-events: none;
  }
}
.btn--large {
  @include rfs($font-size--500);
  padding: 0.9rem var(--spacer--400);
}
.btn--primary {
  background: var(--color--blue-dark);
  color: var(--color--white);
  border: 1px solid var(--color--blue-dark);
  &:hover {
    background: var(--color--blue);
    border-color: var(--color--blue);
  }
  &:disabled {
    background: var(--color--inactive);
    color: var(--color--blue-gray);
    border-color: transparent;
  }
  &.btn--icon {
    path {
      fill: var(--color--white);
    }
  }
}
.btn--secondary {
  background: transparent;
  border: 1px solid var(--color--blue-dark);
  color: var(--color--blue-dark);
  &:hover {
    background: var(--color--blue-dark);
    color: var(--color--white);
    border-color: var(--color--blue-dark);
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    color: var(--color--white);
    border-color: rgba(255, 255, 255, 0.1);
  }
}

.btn--block {
  display: block;
  width: 100%;
  // margin: calc( var(--spacer-sm) ) auto;
}
.btn--hidden {
  opacity: 0;
  visibility: hidden;
}
.btn--loading {
  text-indent: -1rem;
  .v-spinner {
    position: absolute;
    display: inline-block !important;
    margin-top: 0.15rem;
    animation: buttonSpinnerShow 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}
.btn--as-link {
  @include rfs($font-size--400);
  text-decoration: underline;
  background: transparent;
  border: none;
}
.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacer--200);
  svg {
    width: 13px;
    height: auto;
    path {
      fill: var(--color--blue-dark);
    }
  }
}

// viariables color
.btn--filled--skyblue {
  background: var(--color--skyblue);
  color: var(--color--blue-dark);
  border-color: currentColor;
  &:hover {
    background: var(--color--skyblue-light);
  }
  &:disabled {
    background: var(--color--inactive);
    color: var(--color--blue-gray);
    border-color: var(--color--inactive);
  }
}
.btn--filled--skyblue-light {
  background: var(--color--skyblue-light);
  color: var(--color--blue-dark);
  border-color: currentColor;
  &:hover {
    background: var(--color--skyblue);
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    color: var(--color--white);
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.btn--filled--yellow {
  background: var(--color--yellow);
  color: var(--color--blue-dark);
  border-color: currentColor;
  &:hover {
    background: var(--color--yellow-light);
  }
  &:disabled {
    background: var(--color--inactive);
    color: var(--color--blue-gray);
    border-color: var(--color--inactive);
  }
}
.btn--filled--yellow-light {
  background: var(--color--yellow-light);
  color: var(--color--blue-dark);
  border-color: currentColor;
  &:hover {
    background: var(--color--yellow);
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    color: var(--color--white);
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.btn--outlined--skyblue {
  &:hover {
    background: var(--color--skyblue);
  }
  &:disabled {
    background: var(--color--inactive);
    color: var(--color--blue-gray);
    border-color: var(--color--inactive);
  }
}
.btn--outlined--skyblue-light {
  color: var(--color--skyblue);
  border-color: currentColor;
  &:hover {
    background: var(--color--skyblue);
    border-color: var(--color--blue-dark);
    color: var(--color--blue-dark);
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    color: var(--color--white);
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.btn--outlined--yellow {
  &:hover {
    background: var(--color--yellow);
  }
  &:disabled {
    background: var(--color--inactive);
    color: var(--color--blue-gray);
    border-color: var(--color--inactive);
  }
}
.btn--outlined--yellow-light {
  color: var(--color--yellow);
  border-color: currentColor;
  &:hover {
    background: var(--color--yellow);
    border-color: var(--color--blue-dark);
    color: var(--color--blue-dark);
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    color: var(--color--white);
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.btn--outlined--white {
  color: var(--color--white);
  border-color: currentColor;
}
.btn--ghost-primary {
  background: var(--color--inactive);
  color: var(--color--blue-gray);
  border-color: transparent;
}
.btn--ghost-secondary {
  background: rgba(255, 255, 255, 0.1);
  color: var(--color--white);
  border-color: rgba(255, 255, 255, 0.1);
}

.btn--active {
  background: var(--color--blue-dark);
  color: var(--color--white);
  border: 1px solid var(--color--blue-dark);
  &:hover {
    background: var(--color--blue-dark);
  }
}