.custom-control {
  position: relative;
  display: block;
  input {
    @include rfs($font-size-16);
    font-family: var(--font-family);
    font-weight: 600;
    width: 100%;
    padding: var(--spacer--500);
    border: 1px solid var(--color--blue);
    border-radius: var(--spacer--500);
    color: var(--color--blue-dark);
    &::placeholder {
      color: var(--color--blue-light);
      font-style: italic;
    }
    &:focus-visible {
      outline: var(--color--blue-dark) solid 1px;
    }
    input[type='email'],
    input[type='search'],
    input[type='text'],
    select:focus,
    textarea {
      @include rfs($font-size-16);
    }
  }
}
.custom-control__label {
  @include rfs($font-size-16);
  font-weight: 700;
  padding: var(--spacer--500) var(--spacer--400);
  cursor: pointer;
  border: 1px solid var(--color--blue);
  border-radius: var(--spacer--500);
  color: var(--color--blue-dark);
  display: block;
  transition: var(--transition-base);
}
.custom-control__input:checked ~ .custom-control__label {
  background-color: var(--color--skyblue);
}
.custom-control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

// search
.custom-control--search {
  input {
    padding-right: var(--spacer--700);
  }
  button {
    position: absolute;
    right: 0;
    top: 3px;
    background-color: transparent;
    border: none;
    z-index: 9;
    padding: var(--spacer--500);
    display: block;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

// Teaxtarea
.custom-control--text {
  textarea {
    @include rfs($font-size-16); 
    font-family: var(--font-family);
    font-weight: 600;
    min-height: 180px;
    width: 100%;
    padding: var(--spacer--500);
    border: 1px solid var(--color--blue);
    border-radius: var(--spacer--500);
    -webkit-border-radius: var(--spacer--500);
    -moz-border-radius: var(--spacer--500);
    color: var(--color--blue-dark);
    &::placeholder {
      color: var(--color--blue-light);
      font-style: italic;
    }
    &:focus-visible {
      outline: var(--color--blue) solid 1px;
    }
  }
}

// Add
.custom-control--with-btn {
  margin-bottom: var(--spacer--500);
  .btn {
    margin-top: var(--spacer--400);
  }
}