// Page
.page {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacer--400) var(--spacer--400);
    width: 100%;
    height: 100%;
  }
  p {
    @include rfs($font-size-18);
  }
}

.page__title {
  @include rfs($font-size-18);
  color: var(--color--blue-dark);
  margin-bottom: var(--spacer);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: var(--spacer);
  align-items: flex-start;
  @media screen and (min-width: 540px) {
    margin-bottom: var(--spacer--400);
  }
  .tts {
    position: relative;
    top: var(--spacer-xs);
  }
}
.page__subtitle {
  @include rfs($font-size-18);
  font-weight: 700;
  padding: var(--spacer--500) 0 var(--spacer--200);
  margin-top: var(--spacer--300);
}

.page__indication {
  @include rfs($font-size-16);
  padding-bottom: var(--spacer);
}

.page__footer {
  width: 100%;
  margin-top: auto;
}
