// Page
.page {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacer--400) var(--spacer--400);
    width: 100%;
    height: 100%;
  }
  p {
    @include rfs($font-size-18);
  }
}

.page__title {
  @include rfs($font-size-18);
  color: var(--color--blue-dark);
  margin-bottom: var(--spacer);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: var(--spacer);
  align-items: flex-start;
  @media screen and (min-width: 640px) {
    margin-bottom: var(--spacer--400);
  }
  .tts {
    position: relative;
    top: var(--spacer-xs);
  }
}
.page__subtitle {
  @include rfs($font-size--600);
  font-weight: 700;
  padding: var(--spacer--500) 0 var(--spacer--200);
  margin-top: var(--spacer--300);
}

.page__indication {
  padding-bottom: var(--spacer);
}
// .page__search {
//   display: grid;
//   grid-template-columns: auto 1.8rem;
//   column-gap: var(--spacer-sm);
//   align-items: center;
//   margin-top: var(--spacer);
//   margin-bottom: var(--spacer);
//   svg {
//     width: 1.1rem;
//     height: 1.1rem;
//     path {
//       fill: var(--color--blue-dark);
//     }
//   }
//   input:active {
//     border-color: #a0b6cb;
//   }
// }

.page__footer {
  width: 100%;
  margin-top: auto;
}
// .page__text-audio {
//   display: grid;
//   grid-template-columns: 1fr auto;
//   grid-gap: var(--spacer);
//   align-items: flex-start;
// }
