@import 'rfs/scss';

// Responsive font-size config
$rfs-rem-value: 16;
$rfs-base-value: 13;
$rfs-factor: 50;

$font-size-32: 4.5rem;
$font-size-21: 2.25rem;
$font-size-18: 2rem;
$font-size-17: 1.6rem;
$font-size-16: 1.3rem;
$font-size-15: 1.15rem;
$font-size-14: 1rem;
$font-size-13: .825rem;
$font-size-12: .75rem;