//agradecimiento aporte
.thanks-message {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacer--300);
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color--skyblue-light);
    z-index: 10000;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacer--400) var(--spacer--400) var(--spacer--500);
    .btn {
        font-weight: 700;
    }
}

.thanks-message__icon {
    background: var(--color--yellow);
    border: 1px solid var(--color--blue);
    border-radius: var(--spacer--300);
    width: 55px;
    height: 55px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.thanks-message__title {
    @include rfs($font-size-16);
    color: var(--color--blue-dark);
    text-align: center;
    font-weight: 800;

    @media screen and (min-width: 640px) {
        margin-bottom: var(--spacer--400);
    }
}

.thanks-message__description {
    font-size: var(--font-size--500);
    color: var(--color--blue-dark);
    text-align: center;
    font-weight: 600;
    margin-bottom: var(--spacer--500);
}

.thanks-message-footer {
    z-index: 100000;
    position: relative;
    padding-top: var(--spacer);
    margin-top: auto;
}


.thanks-message__form {
    .subscription-form {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: var(--spacer-sm);
    }

    .btn {
        display: flex;
        align-items: center;

        .v-spinner {
            margin-left: var(--spacer-sm);
        }
    }
}

.thanks-message__email {
    @include rfs($font-size-14);
    padding: var(--spacer-sm) var(--spacer-sm) var(--spacer-sm) var(--spacer-sm);
    border: 2px solid var(--color-background);
    border-radius: var(--border-radius);

    &::placeholder {
        color: #848484;
        opacity: 1;
        font-style: italic;
        font-family: var(--font-family);
    }
}