:root {
  --font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  // Spacers
  --spacer-xl: 3.75rem;
  --spacer-lg: 2.5rem;
  --spacer: 1.25rem;
  --spacer-sm: .51rem;
  --spacer-xs: .25rem;

  // Border radius
  --border-radius: .35rem;
  --border-radius-lg: .7rem;

  // Colors
  --color-text: #1d1d1b;
  --color-background: #fff;
  --color-neutral: #727272;
  --color-neutral-light: #b7b7b7;
  --color-neutral-lighter: #d0d0d0;
  --color-neutral-lightest: #eee;
  --color-brand-darkest: #041c42;
  --color-brand-darker: #1d3355;
  --color-brand-dark: #004079;
  --color-brand: #5b7fa1;
  --color-brand-light: #a1c9ff;
  --color-brand-lighter: #cae0ff;
  --color-brand-lightest: #f1f7ff;
  --color-highlight: #f6c254;
  --color-score-bg: #ff8684;
  --color-score-text: #2a8600;
  --color-score-bg: #aaf886;
  --color-grade-1: #ff8684;
  --color-grade-2: #ff9b59;
  --color-grade-3: #ffe723;
  --color-grade-4: #e3e85c;
  --color-grade-5: #aaf886;
  --color-illustration-bg: #e9f2ff;
  --cyan-blue-lighter: #d8e8ff;
  --cyan-blue-lightest: #ecf4ff;
  --blue-medium-light: #8dAdf1;

  // Font sizes and Line height
  --subtitle-font-size: 18px;
  --subtitle-line-height: calc(25/18);

  // Transitions
  --transition-base: all .3s ease-out;
  --transition-nav-dark: all .3s ease-out .2s;

  // z-index
  --z-index-navbar: 1010;
  --z-index-modal: 1020;

  // Modal
  --modal-backdrop-bg: rgb(4, 28, 66);
}