:root {
  --font-family: 'Open Sans Variable', Helvetica, Arial, sans-serif;
  // Spacers
  --spacer-xl: 3.75rem;
  --spacer-lg: 2.5rem;
  --spacer: 1.25rem;
  --spacer-sm: 0.51rem;
  --spacer-xs: 0.25rem;

  // Border radius
  --border-radius: 70px;
  --border-radius-lg: 0.7rem;

  // Colors
  --color-text: #1d1d1b;
  --color-background: #fff;
  --color-neutral: #727272;
  --color-neutral-light: #b7b7b7;
  --color-neutral-lighter: #d0d0d0;
  --color-neutral-lightest: #eee;
  --color-brand-darkest: #041c42;
  --color-brand-darker: #1d3355;
  --color-brand-dark: #004079;
  --color-brand: #5b7fa1;
  --color-brand-light: #a1c9ff;
  --color-brand-lighter: #cae0ff;
  --color-brand-lightest: #f1f7ff;
  --color-highlight: #f6c254;
  --color-score-bg: #ff8684;
  --color-score-text: #2a8600;
  --color-score-bg: #aaf886;
  --color-grade-0: #ffffff;
  --color-grade-1: #e2343f;
  --color-grade-2: #ff8a3d;
  --color-grade-3: #ffe830;
  --color-grade-4: #8fc44c;
  --color-grade-5: #0ca1ad;
  --color-illustration-bg: #e9f2ff;
  --cyan-blue-lighter: #d8e8ff;
  --cyan-blue-lightest: #ecf4ff;
  --blue-medium-light: #8dadf1;

  // Font sizes and Line height
  --subtitle-font-size: 18px;
  --subtitle-line-height: calc(25 / 18);

  // Transitions
  --transition-base: all 0.3s ease-out;
  --transition-nav-dark: all 0.3s ease-out 0.2s;

  // z-index
  --z-index-navbar: 1010;
  --z-index-modal: 1020;

  // Modal
  --modal-backdrop-bg: rgb(4, 28, 66);

  // --- REDISEÑO ---
  --font-size--400: 14px;
  --font-size--500: 16px;
  --font-size--600: 18px;
  --font-size--700: 21px;
  --font-size--800: 38px;

  --spacer--200: 5px;
  --spacer--300: 10px;
  --spacer--400: 15px;
  --spacer--500: 20px;
  --spacer--600: 35px;
  --spacer--700: 50px;

  --color--blue-dark: #041c42;
  --color--blue: #004079;
  --color--yellow: #f6c254;
  --color--yellow-light: #fada98;
  --color--skyblue: #a1c9ff;
  --color--skyblue-light: #cae0ff;
  --color--carolinablue: #80b1ff;
  --color--inactive: rgba(4, 28, 66, 0.1);
  --color--white: #fff;
}
